<div class="my-fluid-container">
	<div class="row">

		<div class="col-md-12">
			<h1><%= @tenant.name %></h1>
			<p> <%= @tenant.industry %></p>
		</div>
		<div class="col-md-9"></div>
	</div><!-- end of class row -->
</div>
