<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h1>Listing articles</h1>
			<table class="table table-hover">
				<thead>
					<th>Article</th>
					<th>Publication</th>
					<th>Date</th>
				</thead>
				<tbody>			
					<% @articles.each do |article| %>
					<tr>
						<td><%= link_to article.title, article %></td>
						<td><%= article.publication %></td>
						<td><%= article.publication_date %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-md-3">
			<h1>Search all articles</h1>
		</div>
	</div>
</div>