<div class="container">
  <div class="row">
    <div class="col-md-12">

<h1><%= @city.name %> city data</h1>
<table class="table table-hover">
  <thead>
    <tr>
            <th>Categories</th>
    </tr>
  </thead>
  <tbody>
    <% @city_facts.each do |fact| %>
      <tr>
        <td><%= fact.city_id.name %></td>
        <td><%= fact.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div> <!-- end col-md -->
  </div> <!-- end row -->
</div> <!-- end container -->